pkgbase = ltspice
	pkgdesc = SPICE simulator, schematic capture and waveform viewer. Installation based on Field Update Utility.
	pkgver = 24.0.11.20240418.3
	pkgrel = 1
	url = http://www.linear.com/designtools/software/
	arch = x86_64
	license = LicenseRef-LTspice
	makedepends = curl
	makedepends = icoutils
	makedepends = imagemagick
	makedepends = gendesk
	makedepends = msitools
	depends = wine
	optdepends = xdg-utils: for launching HTML help files
	source = ltspice.sh
	source = ltspice-help.sh
	source = https://ltspice.analog.com/software/LTspice64.msi
	sha256sums = 14c89f7cfa86652ce0337bbd857e3502bd85a82879a0797edb5b5d345808281c
	sha256sums = 3a0fed134c263a7a0573f36c1f4e49d27bea2cca0c098e069e79e1411d3c302e
	sha256sums = 62a9f20b630738e6ade20a37551baa91b20760bfb718807d8a2be4caa3421a36

pkgname = ltspice
